*{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 600px;
}

.form-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 90px;
}

.form-section{
    display: flex;
    flex-direction: column;
}

#btn{
    color: white;
    background-color: blueviolet;
    padding: 6px 15px;
    border: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    
}
.form-section{
    margin-top: 20px;
}

